<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vuphu.luandry">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_luancher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_luancher"
        android:roundIcon="@drawable/ic_luancher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp.SignUpActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".SignUp.SignUpDetailActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".Service.Activity.ServiceActivity" />
        <activity android:name=".InforOrderActivity" />
        <activity android:name=".PrepareOrderActivity" />
        <activity android:name=".Categories.Activity.CategoriesActivity"></activity>
    </application>

</manifest>