<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vuphu.luandry">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_luancher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_luancher"
        android:roundIcon="@drawable/ic_luancher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp.SignUpActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".SignUp.SignUpDetailActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".Order.Activity.InfoOrderActivity"
            android:parentActivityName=".Order.Activity.PrepareOrderAddressActivity"/>
        <activity
            android:name=".Order.Activity.PrepareOrderActivity"
            android:label="Choose your clothes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Product.Activity.ProductsActivity" />
        <activity
            android:name=".Order.Activity.PrepareOrderAddressActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Order.Activity.PrepareOrderPaymentActivity" />
        <activity android:name=".Payment.Activity.PaymentActivity"></activity>
    </application>

</manifest>